body {
	display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.nav-wrapper {
	background-color: black;
	text-align: center;
}

.brand-logo {
	left: 17%;
}
footer.page-footer{
	padding:0;
	background-color: black;
}

footer.page-footer .container .row{
	margin:0;
}

footer.page-footer .container .row .container-links{
	margin:0;
}

main .slider .indicators .indicator-item.active{
	background-color:#ffc34d;
}

.slider{
	text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.card-title {
	text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.cardElement{
	display:inline-block;
	width:30%;
	margin:1em;
	vertical-align:top;
}
.cardOne{
	width: 76%;
	margin: auto;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
	color: #357b3b;
}

